{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>There's More to the Code...<span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Finch</h1>
  {% endif %}
    <!-- leave action empty to make the form post the same url as displaying it -->
    <form action="" method="POST">
        <!-- required security token -->
        {% csrf_token %}
        <table>
           {{ form.as_table }} 
        </table>
        <input type="submit" value="Submit" class="btn">
    </form>

{% endblock %}
