{% extends 'base.html' %}
{% block content %}

<h1>The Di-Finch-i Code</h1>
 
{% for finch in finches %}
    <div class="card blue-grey darken-1">
        <div class="card-content grey-text text-darken-4">
            <span class="card-title">{{ finch.name }}</span>
            <p>Breed: {{ finch.breed }}</p>
            <p>Description: {{ finch.description }}</p>
            {% if finch.age > 0 %}
                <p>Age: {{ finch.age }}</p>
            {% else %}
                <p>Age: Hatchling</p>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}